// COLORS
$c-accent: #34C759;
$c-secondary: #fff;
$c-black: #1A1A1A;
$c-dark-gray: #252525;
$c-light-gray: #737373;

// SIZES
$fs-72: 72px;
$fs-60: 60px;
$fs-40: 40px;
$fs-30: 30px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-10: 10px;