// COLORS
$c-accent: #34C759;
$c-secondary: #fff;
$c-black: #1A1A1A;
$c-dark-gray: #252525;
$c-light-gray: #737373;

// SIZES
$size-72: 72px;
$size-60: 60px;
$size-40: 40px;
$size-30: 30px;
$size-24: 24px;
$size-20: 20px;
$size-14: 14px;
$size-12: 12px;
$size-10: 10px;